* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  visibility: inherit;
}

body {
  font-family: "Gochi Hand", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 400;
  color: #444;
  line-height: 1.9;
  background-color: #ced4da;
  overflow-x: hidden;
}

.container {
  /* 1140px */
  max-width: 100rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.center-text {
  text-align: center;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4263eb;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #748ffc;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #4263eb;
}
